<div id="settings_findmymrbeam">
    <h3>{{ _('find.mr-beam.org') }}</h3>

    <form class="form-horizontal">
        <div class="control-group">
{#            <label class="control-label" for="settings-debug-terminal">{{ _('find.mr-beam.org') }}</label>#}
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.settings.plugins.findmymrbeam.enabled">
                    <strong>Enable find.mr-beam.org</strong>
                </label>

                <div data-bind="visible: settings.settings.plugins.findmymrbeam.enabled" style="width: 530px">
                    <div>
                        <strong>State:</strong>
                        <span data-bind="visible: registered() && ping()">
                            Registered and verified: Service works in your network.</span>
                        <span data-bind="visible: registered() && !ping()">
                            Registered - <a href="https://find.mr-beam.org" target="_blank">Try it</a>
                            to verify functionality in your network.</span>
                        <span data-bind="visible: registered() == false">Unable to register. Check Internet connection of Mr Beam II.</span>
                        <span data-bind="visible: registered() == null">Registering...</span>
                    </div>
                    <div data-bind="visible: settings.settings.plugins.findmymrbeam.enabled() && registered()">
                        <strong>Try it:</strong> <a href="https://find.mr-beam.org" target="_blank">find.mr-beam.org</a>
                    </div>
                </div>

                 <div data-bind="visible: !settings.settings.plugins.findmymrbeam.enabled()" style="width: 530px">
                    <div><span><strong>State:</strong> Disabled</span></div>
                    <div><span><strong>WARNING:</strong> Mr Beam II can not be found on find.mr-beam.org.</span></div>
                </div>
            </div>
        </div>
    </form>

</div>
